%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemlist{ "data-widget-editbutton" => "true", "data-widget-colorbutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Invoices
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div.widget-body-toolbar

              %table#recordTable.table.table-striped.table-bordered.table-hover{ :width => "100%" }
                %thead
                  %tr
                    %th Invoice
                    %th Contract
                    %th Load
                    %th Bill To
                    %th From
                    %th Amount
                %tbody
                  - @invoices.each do |invoice|
                    %tr
                      %td= link_to invoice.invoice_number.blank? ? "Blank" : invoice.invoice_number, edit_invoice_path(invoice), remote: true
                      %td= link_to invoice.order.contract.seller_contract, edit_contract_path(invoice.order.contract), remote: true
                      %td= link_to invoice.order.row_on_contract, edit_order_path(invoice.order), remote: true 
                      %td= invoice.payer.name
                      %td= invoice.payee.name

                      %td= to_dollars invoice.invoice_line_items.first.amount_cents
