%div#content
  %div.row
    %div.col-xs-12.col-sm-7.col-md-7.col-lg-4
      %h1.page-title.txt-color-blueDark
        %i.fa-fw.fa.fa-home
        Dashboard
        %span > My Dashboard


  %section#widget-grid
    %div.row
      %article.col-sm-12
        -# new widget -->
        %div.jarviswidget#wid-id-0{ "data-widget-togglebutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.glyphicon.glyphicon-stats.txt-color-darken
            %h2 Total lbs
            %ul.nav.nav-tabs.pull-right.in#myTab
              %li.active
                %a{ "data-toggle" => "tab", "href" => "#s1" }
                  %i.fa.fa-line-chart
                  %span.hidden-mobile.hidden-tablet
                    Total lbs
          -#- widget div-->
          %div.no-padding
            -#- widget edit box -->
            %div.jarviswidget-editbox
              test
            -#- end widget edit box -->
            %div.widget-body
              -#- content -->
              %div#myTabContent.tab-content
                %div.tab-pane.fade.active.in.padding-10.no-padding-bottom#s1
                  %div.row.no-space
                    %div.col-xs-12.col-sm-12.col-md-8.col-lg-8
                      = content_tag :div, "", id: "pounds-by-month-chart", class: "chart-large txt-color-blue", data: {pounds: @pounds.chart_data}

                    %div.col-xs-12.col-sm-12.col-md-4.col-lg-4.show-stats
                      %div.row
                        -@top_varieties.each do |variety, data|
                          %div.col-xs-6.col-sm-6.col-md-12.col-lg-12
                            %span.text
                              = variety
                              %span.pull-right
                                "#{number_to_human(data['pounds'])} lbs"
                            %div.progress
                              %div.progress-bar.bg-color-blueDark{ :style => "width: #{data['percentage']}%;" }


                  %div.row
                    -@top_varieties.each do |variety, data|
                      %div.col-xs-12.col-sm-3.col-md-3.col-lg-3
                        %div.easy-pie-chart.txt-color-orangeDark{ "data-percent" => "#{data['percentage']}", "data-pie-size" => "20" }
                          %span.percent.percent-sign "#{data['percentage'].to_i}"
                        %span.easy-pie-title 
                          = variety
                        %div.clear-fix


                -#- end s1 tab pane -->


 
= javascript_include_tag "pounds.chart.js"
