%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#contractsindex{ "data-widget-editbutton" => "false",  "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= @contract.id if @contract.id
            %ul.nav.nav-tabs.pull-right{ "role" => "tablist" }
              %li.active{ "role" => "presentation"}
                %a{ "href" => "#contract-profile", "aria-controls" => "contract-profile", "role" => "tab", "data-toggle" => "tab" } Contract Profile
              %li{ "role" => "presentation" }
                %a{ "href" => "#terms", "aria-controls" => "terms", "role" => "tab", "data-toggle" => "tab" }
                  %span Terms
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body

              = bootstrap_form_for(@contract, layout: :default, control_col: "col-sm-4", label_errors: true, remote: true) do |f|
                %div.well.well-sm.bg-color-darken.txt-color-white.no-border
                  - unless @contract.new_record?
                    / = link_to contract_report_path(@contract, format: "pdf"), target: "_blank", class: "btn btn-default" do 
                    /   %i.fa.fa-lg.fa-fw.fa-file-pdf-o
                    /   %span.menu-item-parent Contract

                    = link_to contract_doc_path(@contract, format: "docx"), target: "_blank", class: "btn btn-default" do 
                      %i.fa.fa-lg.fa-fw.fa-cloud-download
                      %span.menu-item-parent Contract


                    = link_to broker_contract_doc_path(@contract, format: "docx"), target: "_blank", class: "btn btn-default" do 
                      %i.fa.fa-lg.fa-fw.fa-cloud-download
                      %span.menu-item-parent Broker Contract

                  = button_tag(type: 'submit', class: "btn btn-primary") do
                    %i.fa.fa-lg.fa-fw.fa-save
                    %span Save

                %div.well{ "role" => "tabpanel" }
                  %div.tab-content
                    %div.tab-pane.fade.in.active#contract-profile{ "role" => "tabpanel" }
                      %div.row
                        %section.col-sm-6
                          = f.select :buyer_id, options_for_select(Account.all.order("name ASC").map { |buyer| [buyer.name, buyer.id]}, selected: f.object.buyer_id )
                        %section.col-sm-6
                          = f.select :seller_id, options_for_select(Account.all.order("name ASC").map { |seller| [seller.name, seller.id]}, selected: f.object.seller_id )
                      %div.row
                        %section.col-sm-6
                          = f.select :acting_seller_id, options_for_select(Account.all.order("name ASC").map { |seller| [seller.name, seller.id]}, selected: f.object.acting_seller_id )
                      %div.row
                        %section.col-sm-4
                          = f.text_field :buyer_contract
                        %section.col-sm-4
                          = f.text_field :seller_contract

                      %div.row
                        %section.col-sm-4
                          = f.date_field :contract_date
                        %section.col-sm-6
                          = f.text_field :ship_date_note
                      %div.panel.panel-default
                        %div.panel-heading
                          - if !@contract.new_record?
                            = link_to new_contract_orders_path(@contract), class: 'btn btn-success', remote: true do
                              %i.fa.fa-truck
                              %i.fa.fa-plus

                              %span LOAD
                          - else
                            %i.fa.fa-floppy-o
                            %span Save Contract First to Add Loads
                      %fieldset
                        %div.panel.panel-primary
                          %table.table.table-hover
                            %thead
                              %tr
                                %th LOAD
                                %th WEIGHT
                                %th TOTAL SALE
                                %th 
                            %tbody
                              = f.fields_for :orders do |builder|
                                = render 'order_fields', f: builder                          
                        
                    %div.tab-pane.fade#terms
                      %div.panel-group#accordion{ "role" => "tablist", "aria-multiselectable" => "true" }
                        = render 'terms', f: f

