%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#contractsindex{ "data-widget-editbutton" => "false",  "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= @contract.id
            %ul.nav.nav-tabs.pull-right{ "role" => "tablist" }
              %li.active{ "role" => "presentation"}
                %a{ "href" => "#contract-profile", "aria-controls" => "contract-profile", "role" => "tab", "data-toggle" => "tab" } Contract Profile
              %li{ "role" => "presentation" }
                %a{ "href" => "#shipment", "aria-controls" => "shipment", "role" => "tab", "data-toggle" => "tab" }
                  %span Orders
                  %span.badge.bg-color-greenLight.pull-right
                    = @contract.orders.count

          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              = bootstrap_form_for(@contract, layout: :default, control_col: "col-sm-4", label_errors: true, remote: true) do |f|
                %div.well{ "role" => "tabpanel" }
                  %div.tab-content
                    %div.tab-pane.fade.in.active#contract-profile{ "role" => "tabpanel" }
                      %div.row
                        %section.col-sm-6
                          = f.select :buyer_id, options_for_select(Account.all.map { |buyer| [buyer.name, buyer.id]}, selected: f.object.buyer_id )
                        %section.col-sm-6
                          = f.select :seller_id, options_for_select(Account.all.map { |seller| [seller.name, seller.id]}, selected: f.object.seller_id )

                      %div.row
                        %section.col-sm-4
                          = f.text_field :buyer_contract
                        %section.col-sm-4
                          = f.text_field :buyer_po
                        %section.col-sm-4
                          = f.text_field :seller_contract
                    %div.tab-pane.fade#shipment
                      %div.panel-group#accordion{ "role" => "tablist", "aria-multiselectable" => "true" }
                        = f.fields_for :orders do |builder|
                          = render 'order_fields', f: builder
                    %div.well
                      = f.fields_for :order_details do |builder|
                        = render 'order_detail_fields', f: builder
                    = button_tag(type: 'submit', class: "btn btn-primary btn-lg btn-block") do
                      %i.fa.fa-lg.fa-fw.fa-save
                      %span Save
