%tr
  %td
    - unless @contract.new_record?
      = link_to f.object.row_on_contract, "/orders/#{f.object.id}/edit", remote: true
  %td
    = f.object.total_pounds
  %td
    %strong= to_dollars( f.object.total_price )
  %td.col-md-2
    = f.hidden_field :_destroy
    %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
      %i.fa.fa-remove
        Delete    

