%fieldset
  %table.table.order_detail_table
    %thead
    %tbody
      %tr
        %td.col-md-4
          = f.select :quote_line_item_id, options_for_select(@contract.quote.quote_line_items.all.map { |quote_line_item| [Item.find(quote_line_item.item_id).name, quote_line_item.id]}, selected: f.object.quote_line_item_id)
        %td.col-md-4
          = f.text_field :price_cents
        %td.col-md-2
          = f.text_field :pack_weight_pounds
        %td.col-md-2
          = select_tag :weight_id, options_for_select(Weight.all.map { |unit| [ unit.weight_unit_of_measure, unit.id] }, f.object.weight_id), hide_label: true
        %td.col-md-2
          = f.hidden_field :_destroy
          %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
            %i.fa.fa-remove
              Delete

