%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemlist{ "data-widget-editbutton" => "true", "data-widget-colorbutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            - if data.first
              %h2= "#{data.first.class.name} List"
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div.widget-body-toolbar
                - if data.first
                  = link_to new_polymorphic_path(data.first), class: "btn btn-success", remote: true do 
                    %i.fa.fa-plus
                    %span= "New #{data.first.class.name}"

              %table#recordTable.table.table-striped.table-bordered.table-hover{ :width => "100%" }
                %thead
                  %tr
                    %th ID
                    %th Name
                %tbody
                  - data.each do |record|
                    %tr
                      %td= record.id
                      %td
                        = link_to record.name, edit_polymorphic_path(record), remote: true


