%header#header
  %div#logo-group
    -# PLACE YOUR LOGO HERE -->
    %span#logo
      -#=image_tag 'logo.png', alt: "BKISystem"
      =image_tag 'bki_logo.png', alt: "BKISystem"
    -# END LOGO PLACEHOLDER -->

    -# Note: The activity badge color changes when clicked and resets the number to 0
    -#Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
    %span#activity.activity-dropdown
      %i.fa.fa-user 
      %b.badge 21
    -# AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
    %div.ajax-dropdown
      -#- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
      %div.btn-group.btn-group-justified{ "data-toggle" => "buttons" }
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "ajax/notify/mail.html" }
          Msgs (14)
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "ajax/notify/notifications.html" }
          notify (3)
        %label.btn.btn-default
          %input{ :type => "radio", :name => "activity", :id => "ajax/notify/tasks.html" }
          Tasks (4)
      -# notification content -->
      %div.ajax-notifications.custom-scroll
        %div.alert.alert-transparent
          %h4 Click a button to show messages here
          This blank page message helps protect your privacy, or you can show the first message here automatically.
        %i.fa.fa-lock.fa-4x.fa-border
      -#- end notification content -->

      -#- footer: refresh area -->
      %span
        Last updated on: 12/12/2013 9:43AM
        %button.btn.btn-xs.btn-default.pull-right{ :type => "button", "data-loading-text" => "<i class='fa fa-refresh fa-spin'></i> Loading..." }
          %i.fa.fa-refresh
      -#- end footer -->
    -#- END AJAX-DROPDOWN -->
  -#- projects dropdown -->
  %div.project-context.hidden-xs
    %span.label Contracts:
    %span.project-selector.dropdown-toggle{ "data-toggle" => "dropdown" }
      Recent contracts 
      %i.fa.fa-angle-down
    -#- Suggestion: populate this list with fetch and push technique -->
    %ul.dropdown-menu
      %li
        %a{ :href => "javascript:void(0);" }
          Tilbury | Derco Foods
          %small 1 hour ago 
      %li
        %a{ :href => "javascript:void(0);" }
          Winston | Sams Market
          %small About 2 days
      %li
        %a{ :href => "javascript:void(0);" }
          Assesment Report for merchant account
      %li.divider
      %li
        %a.fa.fa-power-off{ :href => "javascript:void(0);" }
          Clear
    -#- end dropdown-menu-->
  -#- end projects dropdown -->
  -#- pulled right: nav area -->
  %div.pull-right
    -#- collapse menu button -->
    %div#hide-menu.btn-header.pull-right
      %span
        %a{ :href => "javascript:void(0);", "data-action" => "toggleMenu", :title => "Collapse Menu" }
          %i.fa.fa-reorder
    -#- end collapse menu -->
    -#- #MOBILE -->
    -#- Top menu profile link : this shows only when top menu is active -->
    %ul#mobile-profile-img.header-dropdown-list.hidden-xs.padding-5
      %li
        %a.dropdown-toggle.no-margin.userdropdown{ :href => "#", "data-toggle" => "dropdown" }
          =image_tag 'avatars/sunny.png', alt: 'John Doe', class: 'online'
        %ul.dropdown-menu.pull-right
          %li
            %a.padding-10.padding-top-0.padding-bottom-0{ :href => "javascript:void(0);" }
              %i.fa.fa-cog
              Setting
          %li.divider
          %li
            %a.padding-10.padding-top-0.padding-bottom-0{ :href => "profile.html" }
              %i.fa.fa-user"></i> 
              %u P
              rofile
          %li.divider
          %li
            %a.padding-10.padding-top-0.padding-bottom-0{ :href => "javascript:void(0);", "data-action" => "toggleShortcut" }
              %i.fa.fa-arrow-down
              <>S</>
              hortcut
          %li.divider
          %li
            %a.padding-10.padding-top-0.padding-bottom-0{ :href => "javascript:void(0);", "data-action" => "launchFullscreen" }
              %i.fa.fa-arrows-alt
              Full 
              <>S</>
              creen
          %li.divider
          %li
            %a.padding-10.padding-top-5.padding-bottom-5{ :href => '@Url.Action("login", "account")', "data-action" => "userLogout" }
              %i.fa.fa-sign-out.fa-lg
              %strong
                %u L
                ogout
    -# logout button -->
    %div#logout.btn-header.transparent.pull-right
      %span 
        %a{ :href => '@Url.Action("login", "account")', :title => "Sign Out", "data-action" => "userLogout", "data-logout-msg" => "You can improve your security further after logging out by closing this opened browser" }
        %i.fa.fa-sign-out
    -# end logout button -->
    -# search mobile button (this is hidden till mobile view port) -->
    %div#search-mobile.btn-header.transparent.pull-right
      %span
        %a{ :href => "javascript:void(0)", :title => "Search" }
        %i.fa.fa-search
    -# end search mobile button -->
    -# input: search field -->
    %form{ :action => '@Url.Action("search", "misc")', :class => "header-search pull-right" }
      %input#search-fld{ :type => "text", :name => "param", :placeholder => "Find reports and more", "data-autocomplete" => '["ActionScript","AppleScript","Asp","BASIC","C","C++","Clojure","COBOL","ColdFusion","Erlang","Fortran","Groovy","Haskell","Java","JavaScript","Lisp","Perl","PHP","Python","Ruby","Scala","Scheme"]' }
      %button{ :type => "submit" }
        %i.fa.fa-search
      %a{ :href => "javascript:void(0);", :id => "cancel-search-js", :title => "Cancel Search" }
        %i.fa.fa-times
    -# end input: search field -->
    %div#fullscreen.btn-header.transparent.pull-right
      %span 
        %a{ :href => "javascript:void(0);", "data-action" => "launchFullscreen", :title => "Full Screen" }
          %i.fa.fa-arrows-alt
    -# end fullscreen button -->
    -# #Voice Command: Start Speech -->
    %div#speech-btn.btn-header.transparent.pull-right.hidden-sm.hidden-xs
      %div
        %a{ :href => "javascript:void(0)", :title => "Voice Command", "data-action" => "voiceCommand" }
          %i.fa.fa-microphone
        %div.popover.bottom
          %div.arrow
          %div.popover-content
            %h4.vc-title
              Voice command activated 
              %br
              %small
                Please speak clearly into the mic
            %h4.vc-title-error.text-center
              %i.fa.fa-microphone-slash
              Voice command failed
              %br
              %small.txt-color-red
                Must 
                %strong "Allow"
                Microphone
              %br
              %small.txt-color-red
                Must have
                %strong
                  Internet Connection
            %a{ :href => "javascript:void(0);", :class => "btn btn-success", :onclick => "commands.help()" }
              See Commands
            %a{ :href => "javascript:void(0);", :class => "btn bg-color-purple txt-color-white", :onclick => "$('#speech-btn .popover').fadeOut(50);" }
              Close Popup
    -# end voice command -->    
    -# multiple lang dropdown : find all flags in the flags page -->
    %ul.header-dropdown-list.hidden-xs
      %li
        %a{ :href => "#", :class => "dropdown-toggle", "data-toggle" => "dropdown" }
          = image_tag 'blank.gif', class: 'flag flag-us', alt: 'United States' 
          %span English (US)
          %i.fa.fa-angle-down
        %ul.dropdown-menu.pull-right
          %li.active
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-us', alt: 'United States'
              English (US)
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-fr', alt: 'France' 
              Français
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-es', alt: 'Spanish' 
              Español
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-de', alt: 'German' 
              Deutsch
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-jp', alt: 'Japan' 
              日本語
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-cn', alt: 'China' 
              中文                   
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-it', alt: 'Italy' 
              Italiano   
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-pt', alt: 'Portugal' 
              Portugal   
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-ru', alt: 'Russia' 
              Русский язык   
          %li
            %a{ :href => "javascript:void(0);" }
              = image_tag 'blank.gif', class: 'flag flag-kr', alt: 'Korea' 
              한국어      
    -# end multiple lang -->      
    
  -#- end pulled right: nav area -->
-#- END HEADER -->