-# Left panel : Navigation area -->
-# Note: This width of the aside area can be adjusted through LESS variables -->
%aside#left-panel
  -#- User info -->
  %div.login-info
    %span 
      -#!-- User image size is adjusted inside CSS, it should stay as it --> 
      %a{ :href => "javascript:void(0);", :id => "show-shortcut", "data-action" => "toggleShortcut" }
        = image_tag 'avatars/sunny.png', alt: "me", class: "online"
        %span
          john.doe 
        %i.fa.fa-angle-down 
  -# end user info -->

  -#- NAVIGATION : This navigation is also responsive-->
  %nav
    %ul
      %li.active
        = link_to root_path, remote: true do 
          %i.fa.fa-lg.fa-fw.fa-home
          %span.menu-item-parent Dashboard
      %li
        = link_to contracts_path, remote: true do 
          %i.fa.fa-lg.fa-fw.fa-table
          %span.menu-item-parent Contracts          
      %li
        %a{ :href => "#" }
          %i.fa.fa-lg.fa-fw.fa-bar-chart-o 
          %span.menu-item-parent Reports
        %ul
          %li
            %a{ :href => "flot.html" } Sales Summary Report
          %li
            %a{ :href => "morris.html" } Contract Status Report
          %li
            %a{ :href => "inline-charts.html" } Grower Pay Report
          %li
            %a{ :href => "dygraphs.html" } Pay Report
          %li
            %a{ :href => "chartjs.html" }
              Shipping Report
              %span.badge.pull-right.inbox-badge.bg-color-yellow new

      %li
        %a{ :href => "#" }
          %i.fa.fa-lg.fa-fw.fa-pencil-square-o
          %span.menu-item-parent Forms
        %ul
          %li
            = link_to 'New Contract', new_contract_path, remote: true
          %li
            = link_to 'Items', items_path, remote: true

 
  %span.minifyme{ "data-action" => "minifyMenu" }
    = link_to :back do 
      %i.fa.fa-arrow-circle-left.hit

      