%div.well.well-sm.bg-color-darken.txt-color-white.no-border#button-header
  = link_to edit_contract_path(@order.contract), remote: true, class: "btn btn-info" do 
    %i.fa.fa-lg.fa-fw.fa-pencil-square-o
    %span.menu-item-parent 
      = "Contract - #{@order.contract.seller_contract}"

  = button_tag(type: 'submit', class: "btn btn-primary") do
    %i.fa.fa-lg.fa-fw.fa-save
    %span Save

  =link_to new_invoice_path(order_id: @order.id), class: 'btn btn-success', remote: true do 
    %i.fa.fa-lg.fa-money
    %i.fa.fa-plus
    %span INVOICE

  = link_to shipping_instruction_path(@order, format: "docx"), target: "_blank", class: "btn btn-default" do 
    %i.fa.fa-lg.fa-fw.fa-cloud-download
    %span.menu-item-parent Shipping Instructions

  = link_to packing_list_path(@order, format: "docx"), target: "_blank", class: "btn btn-default" do 
    %i.fa.fa-lg.fa-fw.fa-cloud-download
    %span.menu-item-parent Packing List
    
  - if @order.certificate_of_origin
    = link_to edit_certificate_of_origin_path(@order.certificate_of_origin), remote: true, class: "btn btn-info" do 
      %i.fa.fa-lg.fa-fw.fa-pencil-square-o
      %span.menu-item-parent 
        = "Edit Certificate of Origin"
  - else
    = link_to new_certificate_of_origin_path(order_id: @order.id), remote: true, class: "btn btn-info" do 
      %i.fa.fa-lg.fa-fw.fa-pencil-square-o
      %span.menu-item-parent 
        = "Add Certificate of Origin"

  %span.pull-right
    %em.text-info= "Seller: #{@order.contract.seller.name}"
    %br
    %em.text-info= "Buyer: #{@order.contract.buyer.name}"
    %br
    %em.text-muted= "Load #{@order.row_on_contract} of #{@order.contract.orders.count}"


  / = link_to shipping_report_path(@order, format: "pdf"), target: "_blank", class: "btn btn-default" do 
  /   %i.fa.fa-lg.fa-fw.fa-file-pdf-o
  /   %span.menu-item-parent Shipping Information