%div.well.bg-info
  %fieldset
    %table.table.order_detail_table
      %thead
      %tbody
        %tr
          %td.col-xs-5
            = f.collection_select(:broker_id, Account.all.order("name ASC"), :id, :name)
          %td.col-xs-2
            = f.text_field :dollars_per_pound, prepend: "$", label: "$ per Lb"
          %td.col-md-2
            = f.number_field :percent, append: "%", in: 1.0..100, step: 0.1
          %td.col-md-2
            = f.number_field :dollars, append: "$"
          %td.col-md-2
            = f.hidden_field :_destroy
            %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
              %i.fa.fa-remove
                Delete      