%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#orderdetail{ "data-widget-togglebutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= "Contract: #{@order.contract.id} - Seller: #{@order.contract.seller.name} - Buyer: #{@order.contract.buyer.name}"
            %ul.nav.nav-tabs.pull-right.in#order-tab-content
              %li.active{ "role" => "presentation" }
                %a{ "href" => "#items", "role" => "tab", "data-toggle" => "tab" }
                  Items
              %li{ "role" => "presentation" }
                %a{ "href" => "#commission", "role" => "tab", "data-toggle" => "tab" }
                  Commission
              %li{ "role" => "presentation" }
                %a{ "href" => "#invoice", "role" => "tab", "data-toggle" => "tab" }
                  Invoice
              %li{ "role" => "presentation" }
                %a{ "href" => "#shipping-info", "role" => "tab", "data-toggle" => "tab" }
                  Shipping Info
          -#- widget div-->
          %div.no-padding
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              = link_to "Edit Contract #{@order.contract.id}", edit_contract_path(@order.contract), remote: true
              = bootstrap_form_for(@order, label_errors: true, remote: true) do |f|

                %div#orderTab.tab-content
                  %div#items.tab-pane.active.in{ "role" => "tabpanel" }
                    %div.widget-body-toolbar.bg-color-white
                      %div.panel.panel-primary
                        %div.panel-heading 
                          Order Details
                        %table.table
                          %tbody
                        = f.fields_for :order_line_items do |builder|
                          = render 'order_line_item_fields', f: builder
                        = link_to_add_fields "Add Item", f, :order_line_items
                                              
                      = button_tag(type: 'submit', class: "btn btn-primary btn-lg btn-block") do
                        %i.fa.fa-lg.fa-fw.fa-save
                        %span Save
                  %div#commission.tab-pane.fade{ "role" => "tabpanel" }
                    %div.widget-body-toolbar.bg-color-white
                      %p Commmission
                      = f.fields_for :commissions do |builder|
                        = render 'commission_fields', f: builder
                      = link_to_add_fields "Add Item", f, :commissions
                      
                  %div#invoice.tab-pane.fade{ "role" => "tabpanel" }
                    = render 'invoice'
                  %div#shipping-info.tab-pane{ "role" => "tabpanel" }
                    %div.widget-body-toolbar.bg-color-white
                      %div.panel.panel-primary
                        %div.panel-heading 
                          Order Details
                        = render 'order_fields', f: f

                        %table.table
                          %tbody
                            %tr
                              %td= f.text_area :payment_terms
                            %tr
                              %td= f.text_area :remarks
                            %tr
                              %td= f.text_area :ship_pick_up
                            %tr
                              %td= f.text_area :ship_delivery
