%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.well#orderdetail{ "data-widget-togglebutton" => "false", "data-widget-editbutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= "Contract: #{@order.contract.id} - Seller: #{@order.contract.seller.name} - Buyer: #{@order.contract.buyer.name}"

          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body

              = bootstrap_form_for(@order, label_errors: true, remote: true) do |f|
                %ul.nav.nav-tabs.pull-right.in#order-tab-content
                  %li.active{ "role" => "presentation" }
                    %a{ "href" => "#items", "role" => "tab", "data-toggle" => "tab" }
                      Items
                  %li{ "role" => "presentation" }
                    %a{ "href" => "#commission", "role" => "tab", "data-toggle" => "tab" }
                      Commissions
                  %li{ "role" => "presentation" }
                    %a{ "href" => "#shipping-info", "role" => "tab", "data-toggle" => "tab" }
                      Shipping Info
                  %li{ "role" => "presentation" }
                    %a{ "href" => "#documents", "role" => "tab", "data-toggle" => "tab" }
                      Documents 
                  %li{ "role" => "presentation" }
                    %a{ "href" => "#consignee", "role" => "tab", "data-toggle" => "tab" }
                      Consignee
                  %li{ "role" => "presentation" }
                    %a{ "href" => "#invoice", "role" => "tab", "data-toggle" => "tab" }
                      Invoice
                %div.clearfix
                = render 'buttons'

                %div#orderTab.tab-content.padding-10
                  %div#items.tab-pane.fade.active.in{ "role" => "tabpanel" }
                    %div.clearfix

                    %div.panel.panel-primary
                      %div.panel-heading 
                        Items
                      %table.table
                        %tbody
                      = f.fields_for :order_line_items do |builder|
                        = render 'order_line_item_fields', f: builder
                    = link_to_add_fields "Add Item", f, :order_line_items                                    
              
                  %div#commission.tab-pane.fade{ "role" => "tabpanel" }
                    %div.panel.panel-primary
                      %div.panel-heading 
                        Commissions
                    %div.clearfix

                    = f.fields_for :commissions do |builder|
                      = render 'commission_fields', f: builder
                    = link_to_add_fields "Add Item", f, :commissions
                    %h3
                      %strong.pull-right.padding-10
                        Commission(s):
                        %span.text-success= to_dollars(@order.total_commission_cents)
                  %div#invoice.tab-pane.fade{ "role" => "tabpanel" }
                    %div.clearfix

                    = render 'discount', f: f

                    %h3
                      %strong.pull-right.padding-10
                        Total (less Commission):
                        %span.text-success= to_dollars(@order.total_price_less_discount_less_commission)
                    %h3
                      %strong.pull-right.padding-10
                        Commission(s):
                        %span.text-success= "+ #{ to_dollars(@order.total_commission_cents)}"
                    %h3
                      %strong.pull-right.padding-10
                        Discount:
                        %span.text-success= "( #{to_dollars(@order.discount) } )"

                    %div.clearfix
                    %fieldset
                      %div.panel.panel-primary
                        %table.table.table-hover
                          %thead
                            %tr
                              %th BILL TO
                              %th REMIT FUNDS TO
                              %th INVOICE NUMBER
                              %th TOTAL AMOUNT
                              %th
                              %th 
                          %tbody
                            = f.fields_for :invoices do |builder|
                              = render 'invoice_fields', f: builder

                  %div#shipping-info.tab-pane{ "role" => "tabpanel" }
                    %div.clearfix

                    %div.panel.panel-primary
                      %div.panel-heading 
                        Order Details
                      = render 'order_fields', f: f

                  %div#documents.tab-pane{ "role" => "tabpanel" }
                    %div.clearfix

                    %div.panel.panel-primary
                      %div.panel-heading 
                        Documents
                      = render 'documents', f: f
                  %div#consignee.tab-pane.fade{ "role" => "tabpanel" }
                    %div.clearfix

                    %div.panel.panel-primary
                      %div.panel-heading 
                        Consignee
                      = render 'consignee', f: f