%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        %div.jarviswidget.jarviswidget-color-blueDark{"data-widget-editbutton" => "true", "data-widget-deletebutton" => "false", "data-widget-togglebutton" => "false", "data-widget-fullscreenbutton" => "false", "data-widget-colorbutton" => "false" }
 

          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2.widget-header Load List
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div.widget-body-toolbar
                = link_to new_contract_path, class: "btn btn-success", remote: true do 
                  %i.fa.fa-plus
                  %i.fa.fa-lg.fa-fw.fa-truck
                  %span New Contract
              %table#orders.table.table-striped.table-bordered.table-hover{ :width => "100%" }
                %thead
                  %tr
                    %th Seller
                    %th Contract #
                    %th Load #
                    %th Contract Date
                    %th Buyer
                    %th Total lbs
                    %th Sale

                %tbody
                  - @orders.order(:created_at).each do |order|
                    %tr
                      %td
                        = order.contract.seller.name
                      %td
                        = link_to order.contract.seller_contract, edit_contract_path(order.contract), remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."}
                      %td
                        = link_to order.row_on_contract, edit_order_path(order), remote: true, data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."}
                      %td 
                        = order.contract.contract_date.try(:strftime, '%m/%d/%Y')
                      %td
                        = order.contract.buyer.name
                      %td
                        = number_with_precision(order.total_pounds, precision: 2, delimiter: ",")
                      %td
                        = to_dollars(order.total_price) 
