%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemlist{ "data-widget-editbutton" => "true", "data-widget-colorbutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2 Load List
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div.widget-body-toolbar
                = link_to new_contract_path, class: "btn btn-success", remote: true do 
                  %i.fa.fa-plus
                  %span New Contract
              %table#orders.table.table-striped.table-bordered.table-hover{ :width => "100%" }
                %thead
                  %tr
                    %th Seller
                    %th Contract #
                    %th Load #
                    %th Date
                    %th Buyer
                    %th Total lbs
                    %th Sale

                %tbody
                  - @orders.each do |order|
                    %tr
                      %td
                        = order.contract.seller.name
                      %td
                        = link_to order.contract.id, edit_contract_path(order.contract), remote: true
                      %td
                        = link_to order.row_on_contract, edit_order_path(order), remote: true
                      %td 
                        = order.contract.date
                      %td
                        = order.contract.buyer.name
                      %td
                        = number_with_precision(order.total_pounds, precision: 2)
                      %td
                        = to_dollars(order.total_price) 
