%table.table.table-hover
  %thead

  %tbody
    %tr 
      %td
        = f.select :container_size, options_for_select(["20 FCL", "40 FCL", "Truck"], f.object.container_size)
        = f.text_area :ship_delivery
        = f.text_area :ship_pick_up

    %tr
      %td
        = f.date_field :ship_date
      %td
        = f.date_field :last_received_date
      %td 
        = f.date_field :estimated_arrival_date
      %td 
        = f.date_field :doc_cut_off
    %tr
      %td
        = f.text_field :shipping_company
      %td
        = f.text_field :voyage
      %td
        = f.text_field :port_of_discharge
      %td
        = f.text_field :vessel
    %tr
      %td
        = f.text_field :ship_in_name_of
      %td
        = f.text_field :booking_number
      %td
        = f.text_field :commodity
      %td
        = f.date_field :estimated_arrival_date
    %tr
      %td
        = f.text_field :shipping_company_reference_number
      %td
        = f.text_field :automated_export_number

%table.table.table-hover
  %thead

  %tbody
    %tr
      %td
        = f.text_field :container_number
      %td 
        = f.text_field :seal_number
      %td
        = f.text_field :gross_weight
      %td
        = f.text_field :container_number
    %tr
      %td
        = f.date_field :container_out
      %td
        = f.date_field :docs_in
      %td
        = f.date_field :docs_out
      %td
        = f.text_field :invoice_number
    %tr
      %td
        = f.date_field :expected_pay
      %td
        = f.date_field :received_pay
      %td
        = f.text_field :amount_received



