%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#remarki{ "data-widget-editbutton" => "false" }
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2.widget-header Fumigation
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body.no-padding
              = bootstrap_form_for(@fumigation, class: "login-form smart-form client-form", layout: :horizontal, label_errors: true, remote: true) do |f|

                %div.well.well-sm.bg-color-darken.txt-color-white.no-border#button-header
                  = link_to edit_contract_path(@fumigation.order.contract), remote: true, class: "btn btn-info", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..."} do 
                    %i.fa.fa-lg.fa-fw.fa-pencil-square-o
                    %span.menu-item-parent 
                      = "Contract - #{@fumigation.order.contract.seller_contract}"

                  = link_to edit_order_path(@fumigation.order), remote: true, class: "btn btn-info", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } do 
                    %i.fa.fa-lg.fa-fw.fa-truck
                    %span.menu-item-parent 
                      = "Load - #{@fumigation.order.row_on_contract}"

                  = button_tag(type: 'submit', class: "btn btn-primary") do
                    %i.fa.fa-lg.fa-fw.fa-save
                    %span Save


                  - unless @fumigation.new_record?
                    = link_to fumigation_path(@fumigation, format: "docx"), target: "_blank", class: "btn btn-default", data: { disable_with: "<i class='fa fa-spinner fa-spin'></i> Loading..." } do 
                      %i.fa.fa-lg.fa-fw.fa-cloud-download
                      %span.menu-item-parent Fumigation 

                  %span.pull-right
                    %em.text-info= "Seller: #{@fumigation.order.contract.seller.name}"
                    %br
                    %em.text-info= "Buyer: #{@fumigation.order.contract.buyer.name}"
                    %br
                    %em.text-muted= "Load #{@fumigation.order.row_on_contract} of #{@fumigation.order.contract.orders.count}"
                %div.well
                  = f.hidden_field :order_id
                  = f.text_field :treatment
                  = f.text_field :duration_of_exposure
                  = f.text_field :temperature
                  = f.text_field :hs_code
                  = f.date_field :date_of_treatment
                  = f.text_field :concentration
                  = f.text_field :permit_number
                  = f.text_area :notes
