%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemindex{ "data-widget-editbutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= @item.name
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              = bootstrap_form_for(@item, label_errors: true, remote: true) do |f|
                = f.text_field :name
                = f.select :commodity_id, options_for_select(Commodity.all.map { |commodity| [commodity.name, commodity.id]}, selected: f.object.commodity_id )
                = f.select :variety_id, options_for_select(Variety.all.map { |variety| [variety.name, variety.id]}, selected: f.object.variety_id )
                = f.select :size_id, options_for_select(Size.all.map { |size| [size.name, size.id]}, selected: f.object.size_id )
                = f.select :grade_id, options_for_select(Grade.all.map { |grade| [grade.name, grade.id]}, selected: f.object.grade_id)
                = f.submit @item.new_record? ? "Create new item" : "Update item"

