%div.container
  %fieldset.well.bg-color-darken
    %div.row
      = f.form_group  do 
        = f.text_field :line1
        = f.text_field :line2
        = f.text_field :line3
        = f.text_field :city
        = f.text_field :zip
        %container.pull-right
          = image_tag 'blank.gif', id: "flag", class: 'flag flag-us', alt: 'United States'
          = f.country_select :country, ["US"], {include_blank: true, selected: f.object.country }, { class: "form-control", id: "country-select" }
    %div.row
      = f.hidden_field :_destroy
      %a.btn.btn-danger.pull-right.remove_fields{"href" => "#"}
        %i.fa.fa-remove
          Delete