%div.container
  %fieldset.well.bg-color-darken
    %div.row
      = f.form_group  do 
        = f.text_field :name
        = f.text_field :aba
        = f.text_field :swift
        = f.text_field :attention
