%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemindex{ "data-widget-editbutton" => "false",  "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= @account.name
            %ul.nav.nav-tabs.pull-right{ "role" => "tablist" }
              %li.active{ "role" => "presentation" }
                %a{ "href" => "#profile", "aria-controls" => "profile", "role" => "tab", "data-toggle" => "tab" } Profile
              %li{ "role" => "presentation" }
                %a{ "href" => "#address", "aria-controls" => "address", "role" => "tab", "data-toggle" => "tab" } Address
              %li{ "role" => "presentation" }
                %a{ "href" => "#messages", "aria-controls" => "bank", "role" => "tab", "data-toggle" => "tab" } Bank
              %li{ "role" => "presentation" }
                %a{ "href" => "#settings", "aria-controls" => "settings", "role" => "tab", "data-toggle" => "tab" }Settings            
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              = bootstrap_form_for(@account, layout: :horizontal, label_errors: true, remote: true) do |f|
                %br
                = button_tag(type: 'submit', class: "btn btn-primary") do
                  %i.fa.fa-lg.fa-fw.fa-refresh

                %div.well{ "role" => "tabpanel" }
                  %div.tab-content
                    %div.tab-pane.fade.in.active#profile{ "role" => "tabpanel" }
                      %div.widget-body-toolbar.bg-color-white
                        = f.text_field :name, icon: "user"
                        = f.phone_field :phone1, icon: "phone-alt"
                        = f.telephone_field :phone2, icon: "phone-alt"
                        = f.telephone_field :fax
                        = f.text_field :first_name
                        = f.text_field :last_name
                        = f.email_field :email, icon: "envelope"
                    %div.tab-pane.fade#address{ "role" => "tabpanel" }
                      %div.widget-body-toolbar.bg-color-white
                        = f.fields_for :addresses do |builder|
                          = render 'address_fields', f: builder
                      = link_to_add_fields "Add Address", f, :addresses
                    %div.tab-pane.fade#bank{ "role" => "tabpanel" }
                      %p Cool this is tab 3
                    %div.tab-pane.fade#settings{ "role" => "tabpanel" }
