%div#content
  -# widget grid -->
  %section#widget-grid
    -# row -->
    %div.row
      -# NEW WIDGET START -->
      %article.col-xs-12.col-sm-12.col-md-12.col-lg-12
        -#- end widget -->
        -#- Widget ID (each widget will need unique ID)-->
        %div.jarviswidget.jarviswidget-color-blueDark#itemindex{ "data-widget-editbutton" => "false",  "data-widget-colorbutton" => "false", "data-widget-deletebutton" => "false" }
          -# widget options:
          -#usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
          -#data-widget-colorbutton="false"
          -#data-widget-editbutton="false"
          -#data-widget-togglebutton="false"
          -#data-widget-deletebutton="false"
          -#data-widget-fullscreenbutton="false"
          -#data-widget-custombutton="false"
          -#data-widget-collapsed="true"
          -#data-widget-sortable="false"
          %header
            %span.widget-icon
              %i.fa.fa-table
            %h2= @account.name
            %ul.nav.nav-tabs.pull-right{ "role" => "tablist" }
              %li.active{ "role" => "presentation" }
                %a{ "href" => "#home", "aria-controls" => "home", "role" => "tab", "data-toggle" => "tab" } Home
              %li{ "role" => "presentation" }
                %a{ "href" => "#profile", "aria-controls" => "profile", "role" => "tab", "data-toggle" => "tab" } Profile
              %li{ "role" => "presentation" }
                %a{ "href" => "#messages", "aria-controls" => "messages", "role" => "tab", "data-toggle" => "tab" } Messages
              %li{ "role" => "presentation" }
                %a{ "href" => "#settings", "aria-controls" => "settings", "role" => "tab", "data-toggle" => "tab" }Settings            
          -#- widget div-->
          %div
            -# widget edit box -->
            %div.jarviswidget-editbox
              -# This area used as dropdown edit box -->
            -#- end widget edit box -->
            -#- widget content -->
            %div.widget-body
              %div{ "role" => "tabpanel" }
  
                %div.tab-content
                  %div.tab-pane.fade.active#home{ "role" => "tabpanel" }
                    %div.widget-body-toolbar.bg-color-white
                    %p Cool this is tab 1
                  %div.tab-pane.fade#profile{ "role" => "tabpanel" }
                    %p Cool this is tab 2
                  %div.tab-pane.fade#messages{ "role" => "tabpanel" }
                    %p Cool this is tab 3
                  %div.tab-pane.fade#settings{ "role" => "tabpanel" }
                    %div.widget-body-toolbar.bg-color-white
                      = bootstrap_form_for(@account, layout: :horizontal, label_errors: true, remote: true) do |f|
                        = f.text_field :name, icon: "user"
                        = f.phone_field :phone1, icon: "phone-alt"
                        = f.telephone_field :phone2, icon: "phone-alt"
                        = f.telephone_field :fax
                        = f.text_field :first_name
                        = f.text_field :last_name
                        = f.email_field :email, icon: "envelope"
                        = f.text_field :address_1_line_1, control_col: "col-sm-6"
                        = f.text_field :address_1_line_2
                        = f.text_field :address_1_line_3
                        = f.text_field :address_1_city
                        = f.text_field :address_1_state
                        = f.text_field :address_1_zip
                        = f.text_field :address_1_country
                    
                        = f.submit @account.new_record? ? "Create new account" : "Update account"

